<mat-form-field appearance="fill">
  <mat-label>Seleccionar hotel</mat-label>
  <mat-select [(value)]="selectedHotelId" (valueChange)="getBedrooms()">
    <mat-option *ngFor="let hotel of hotels" [value]="hotel.id">{{
      hotel.name
    }}</mat-option>
  </mat-select>
</mat-form-field>

<br /><br />

<mat-form-field class="search" appearance="fill">
  <mat-label>Buscar Habitacion</mat-label>
  <input
    matInput
    (keyup)="applyFilter($event)"
    placeholder="Filtrar por habitacion"
  />
</mat-form-field>

<mat-table [dataSource]="dataSource">
  <!-- Habitacion Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Nombre Habitacion</mat-header-cell>
    <mat-cell *matCellDef="let room">{{ room.name }}</mat-cell>
  </ng-container>

  <!-- Habilitado Column -->
  <ng-container matColumnDef="enabled">
    <mat-header-cell *matHeaderCellDef>Habilitado</mat-header-cell>
    <mat-cell *matCellDef="let room">{{ room.enabled ? "Sí" : "No" }}</mat-cell>
  </ng-container>

  <!-- cantidad personas Column -->
  <ng-container matColumnDef="amount">
    <mat-header-cell *matHeaderCellDef>Cantidad de personas</mat-header-cell>
    <mat-cell *matCellDef="let room">{{ room.amountPeople }}</mat-cell>
  </ng-container>

  <!-- Reservas Column -->
  <ng-container matColumnDef="reservas">
    <mat-header-cell *matHeaderCellDef>Reservas hechas</mat-header-cell>
    <mat-cell *matCellDef="let room">
      <ng-container
        *ngIf="room.reserved && room.reserved.length > 0; else noReservas"
      >
        <button mat-icon-button color="primary" (click)="showReservas(room)">
          <mat-icon>event</mat-icon>
        </button>
      </ng-container>
      <ng-template #noReservas> No tiene reservas </ng-template>
    </mat-cell>
  </ng-container>

  <!-- Acciones Column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
    <mat-cell *matCellDef="let hotel">
      <button mat-icon-button color="warn" (click)="deleteHotel(hotel)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<mat-paginator
  [pageSizeOptions]="[5, 10, 25]"
  showFirstLastButtons
></mat-paginator>
