/* Estilos para el popup */
:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  width: 100%;
  height: 40vh;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0 0 16px;
  margin-top: 3%;
  font-size: 20px;
  font-weight: bold;
}

mat-form-field {
  width: 100%;
  margin-bottom: 24px;
}

.mat-dialog-actions {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.dialog-create {
  background: #38d39f;
  color: #fff;
}

button {
  width: 120px;
  margin-left: 16px;
}
