.popup-title {
  text-align: center;
}

mat-form-field {
  margin-bottom: 15px;
  width: 100%;
}

.room-info {
  margin-bottom: 20px;
}

.form-field {
  width: 100%;
  margin-bottom: 20px;
}

.actions {
  justify-content: flex-end;
  margin-top: 20px;
}

.dialog-create {
  background: #38d39f;
  color: #fff;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}
