<div class="wave">
  <img src="assets/images/wave.png" alt="Wave" />
</div>
<div class="container">
  <div class="img">
    <img src="assets/images/bg.svg" alt="Background" />
  </div>
  <div class="login-content">
    <form>
      <img src="assets/images/avatar.svg" alt="Avatar" />
      <h2 class="title">Welcome To<br/> Hotelium</h2>
      <div class="inputs">
        <mat-form-field class="input-div one">
          <mat-icon matPrefix class="i">account_circle</mat-icon>
          <input matInput type="text" placeholder="Username" />
        </mat-form-field>
        <mat-form-field class="input-div pass">
          <mat-icon matPrefix class="i">lock</mat-icon>
          <input matInput type="password" placeholder="Password" />
        </mat-form-field>
      </div>
      <a href="#">Forgot Password?</a>
      <button mat-raised-button class="btn" color="primary">Login</button>
    </form>
  </div>
</div>
