<div class="wave">
  <img src="assets/images/wave.png" alt="Wave" />
</div>
<div class="container">
  <div class="img">
    <img src="assets/images/bg.svg" alt="Background" />
  </div>
  <div class="login-content">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <img src="assets/images/avatar.svg" alt="Avatar" />
      <h2 class="title">Welcome</h2>

      <mat-form-field class="input-div one">
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="username" required />
        <mat-icon matPrefix>account_circle</mat-icon>
      </mat-form-field>

      <mat-form-field class="input-div pass">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required />
        <mat-icon matPrefix>lock</mat-icon>
      </mat-form-field>

      <!-- Mostrar el mensaje de error si showError es true -->
      <div *ngIf="showError" class="error-message">Usuario o contraseña incorrectos</div>

      <a href="#" (click)="info()">Forgot Password?</a>
      <button mat-raised-button class="btn" color="primary" type="submit">Login</button>
    </form>
  </div>
</div>
