<mat-sidenav-container>
  <mat-sidenav mode="side" [opened]="isOpen">
    <mat-nav-list *ngIf="showAgentsOptions">
      <a mat-list-item routerLink="/Home/hotel-management/hotel" routerLinkActive="active">
        <mat-icon>home</mat-icon>
        <span class="text">Hoteles</span>
      </a>
    </mat-nav-list>
    <mat-nav-list *ngIf="showAgentsOptions">
      <a mat-list-item routerLink="/Home/hotel-management/bedroom" routerLinkActive="active">
        <mat-icon>home</mat-icon>
        <span class="text">Habitaciones</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <div class="empty-content" *ngIf="!isOpen">
      <mat-icon class="info-icon">info_outline</mat-icon>
      <span class="empty-text">Selecciona una opcion del sidebar</span>
    </div>
  </mat-sidenav-content>
  
</mat-sidenav-container>
